<div class="col-sm-4">
  <ul>
    <li>
      <a href="#dev-notes">
        Notas de dev
      </a>
    </li>
    <li>
      <a href="#user-storys">
        User Storiess
      </a>
    </li>
    <li>
      <a href="#dev-docs">
        Documentação
      </a
    </li>
  </ul>
</div>

<div class="col-sm-8">

  <div class=row id=dev-notes>
    <div class=well>
      <h2>Notas do programador:</h2>
      <p>Detalhes que acho por algum motivo documentar para o avaliador entender o porquê de certas decisões ( PS: se questionar algo OU tiver uma sugestão melhor ( sendo que estou a ser avaliado, gosto de tirar partido da situação e aprender um pouco com outras pessoas ), por favor não exite em contactar-me para pihh.rocks@gmail.com )</p>
      <hr>

      <ol>
        <li>Sendo que a entrevista é para programadores de javascript, tentei fugir ao máximo do uso de libs com as quais estou mais confortável. No entanto usei bootstrap e carreguei o jQuery para as funções nativas do mesmo. </li>
      </ol>
    </div>
  </div>

  <div class=row>
    <h2>User Stories</h2>
    <p>Usei metodologia ágil para registar os passos pedidos e não me passar nada ao lado.</p>
    <hr>
    <ol>
      <li>
        <cite>
          <p>
            <b>As a:</b> <br>
            <b>I want:</b> <br>
            <b>When: </b> <br>
            <b>So that: </b> <br>
          </p>
        </cite>
        <hr>
        <p></p>
      </li>
    </ol>
  </div>

  <div class=row>
    <h2>Documentação:</h2>
    <p>Documentação de alguns métodos, sua logica e localização para ser de mais fácil leitura</p>
    <hr>
    <ol>
      <li></li>
    </ol>
  </div>
</div>
