<div class="col-sm-4">
  <ul>
    <li>
      <a onclick="Scroll.to('dev-notes')">
        Notas de dev
      </a>
    </li>
    <li>
      <a onclick="Scroll.to('user-stories')">
        User Storiess
      </a>
    </li>
    <li>
      <a onclick="Scroll.to('dev-docs')">
        Documentação
      </a
    </li>
  </ul>
</div>

<div class="col-sm-8">

  <div class=row id=dev-notes>
    <div class=well>
      <h2>Notas do programador:</h2>
      <p>Detalhes que acho por algum motivo documentar para o avaliador entender o porquê de certas decisões ( PS: se questionar algo OU tiver uma sugestão melhor ( sendo que estou a ser avaliado, gosto de tirar partido da situação e aprender um pouco com outras pessoas ), por favor não exite em contactar-me para pihh.rocks@gmail.com )</p>
      <hr>

      <ol>
        <li>Sendo que a entrevista é para programadores de javascript, tentei fugir ao máximo do uso de libs com as quais estou mais confortável. No entanto usei bootstrap e carreguei o jQuery para as funções nativas do mesmo. </li>
        <li>Sendo que o meu tempo para este exercicio é limitado, preferi sacrificar tempo nestas duas páginas extra ( regras - epico que me foi entregue e documentação- página que uso para descrever passos e factos que assumi para avaliarem melhor o meu desempenho ) e não usei preprocessadores nem task runners para deixar a coisa impecável como gostava.</li>
        <li>Na &lt;head&gt; pus um pequeno script que verifica se este browser suporta algumas das coisas usadas.
        <li>Estrutura do projecto:
          <ul>
            <li><b>root:</b><br>
              - ficheiro index.html - dispensa apresentações.
              - ficheiro main.js - bootstrap da aplicação.
            <li><b>templates:</b> Ficheiros de template html que são carregados dinamicamente e postos em cache (ficheiro de load e cache: /scripts/modules/cache/template/index.js)</li>
            <li>
              <p><b>scripts:</b> Pasta dos ficheiros javascript</p>
              <p><b>- constants.js -</b> Ficheiro com as constante da aplicação ( podem ser variaveis ou objectos html)</p>
              <p><b>- ui.js -</b> sendo que nao usei jQuery, algumas funcionalidades para atingir o mesmo fim são colocadas aqui neste ficheiro ( ajax, has class, etc);</p>
              <p><b>--\warnings:</b> vinha com o ficheiro base do bootstrap (http://getbootstrap.com) - não é da minha autoria</p>
              <p><b>--\workarounds:</b> vinha com o ficheiro base do bootstrap (http://getbootstrap.com) - não é da minha autoria</p>
              <p><b>--\modules:</b> tentei dividir a aplicação em namespaces para conseguir organizar melhor o meu código e ter ficheiros mais legiveis e mais pequenos. Estes módulos têm comentado na primeira linha as dependencias</p>
              <p><b>----\cache:</b> modulos de cache, não prevejo fazer cache de muito mais coisas para além do template, mesmo depois de já ter estruturado o sistema todo ( antes de o começar a escrever ), no entanto pode fazer sentido mais tarde e não descartei a hipotese;</p>
              <p><b>----\game:</b> modulos do jogo. A aplicação pode complicar-se um pouco se tiver atenção a vários detalhes, assim preferi deixar o projecto o mais segmentado por blocos o possivel.</p>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

  <div class=row id=user-stories>
    <h2>User Stories</h2>
    <p>Usei metodologia ágil para registar os passos pedidos e não me passar nada ao lado.</p>
    <hr>
    <ol>
      <li>
        <cite>
          <p>
            <b>As a:</b> User <br>
            <b>I want:</b> Ter o botão iniciar <br>
            <b>When:</b> Mal abro o browser <br>
            <b>So that:</b> Consiga iniciar o desafio <br>
          </p>
        </cite>
        <hr>
        <p>
          <b>Tasks:</b><br>
          1- Carregar página do jogo no inicio: Done<br>
        </p>
      </li>
    </ol>
  </div>

  <div class=row id=dev-docs>
    <h2>Documentação:</h2>
    <p>Documentação de alguns métodos, sua logica e localização para ser de mais fácil leitura</p>
    <hr>
    <ol>
      <li></li>
    </ol>
  </div>
</div>
